[winddiffs]
# a wind minimum diff level to send wind alert, if no alert has been sent in last cycle
mindiffinterval = 2
# a wind diff level to send wind alert, even if an alert has been sent in last cycle
importantdiffinterval = 4
# Min wind strength to alert
min_wind_strenght_alert = 11
wind_check_interval = 5


[alerttimewindow]
fromtime = 07:00
totime = 16:00

[Prigal]
beachName = שדות ים
frindlyName = פריגל
readsURL = http://wind.co.il/#sea_state
dataURL = 
dateFormat = %%d/%%m
timeFormat = %%H:%%M
windUnits = kn

[Eilat MeteoTech]
beachName = חופי אילת
frindlyName = מכון בינאוניברסיטאי אילת
readsURL = http://www.meteo-tech.co.il/eilat-yam/eilat_he.asp
dataURL = 
dateFormat = %%d/%%m
timeFormat = %%H:%%M
windUnits = ms

[Eilat SurfCenter]
beachName = ריף-רף
frindlyName = מרכז הגלישה אילת
readsURL = http://surfcenter.co.il/Wind/
dataURL = http://surfcenter.co.il/Wind/allEx.txt
dateFormat = %%d/%%m/%%y
timeFormat = %%H:%%M
windUnits = kn

[botimagecommands]
psum = http://wind.co.il/weather/lab/broadcast.jpg
psnap = http://s17.ipcamlive.com/streams/115c36937fb71eddb/snapshot.jpg
esum = http://surfcenter.co.il/Wind/vws737.jpg

[rsyslog]
logaddress = /dev/log

[timestamps]
lastruntimestamp =

[elastic]
elasticbaseurl = http://169.254.0.1:9200/logstash-*/logs/_search
elasticcreateurl = http://169.254.0.1:9200/correlate/orphan/

[files]
proxyjsonqueryfile = proxy-forwad-to-isolation.json
tiejsonqueryfile = TIE-Network_Request-Main_Frame.json

